<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Aggiungi centro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">
	
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="" class="logo">Modalità: <strong>Direttore</strong> 
				&nbsp; <img alt="" src="images/direttore.png"></a></a>
				<nav id="nav">
					<a th:href="@{pannelloAzienda}">Pannello di controllo</a>
					<a th:href="@{/ricercaCentro}">Ricerca centro</a>
					<a th:href="@{/aggiungiCentro}">Aggiungi centro</a>
					<a th:href="@{/logout}">Logout</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

	<!-- Ricerca allievo -->
	<div id="particles-js">
		<div class="btext">
			<section id="ra" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Aggiungi centro</h2>
					</header>
					<p>
						<font color="red" size="5"><div th:text="${erroreFormCentro}"></div></font>
						<font color="red" size="5"><div th:text="${esisteCentro}"></div></font>
						<font color="red" size="5"><div th:text="${erroreMax}"></div></font>
						<font color="red" size="5"><div th:text="${erroreTel}"></div></font>
						
						Inserisci i dati del centro da aggiungere: <br> <br>
						<form th:action="@{/addCentro}" method="POST" th:object="${centro}">
							<div>
								<b>Nome:</b>
								<font color="red"><span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span></font>
								<input type="text" placeholder="Inserisci Nome" th:field="*{nome}" /> 
							</div><br>

							<div>
								<b>Indirizzo:</b>
								<font color="red"><span th:if="${#fields.hasErrors('indirizzo')}"
								th:errors="*{indirizzo}"></span></font>
								<input type="text" placeholder="Inserisci Indirizzo"  th:field="*{indirizzo}" /> 
							</div>
							<br>

							<div>
								<b>Email: </b>
								<font color="red">
								<span th:if="${#fields.hasErrors('email')}"th:errors="*{email}"></span></font>
								<input type="email" placeholder="Inserisci Email"  th:field="*{email}" /> 
							</div><br>
	
							<div>
								<b>Telefono: </b>
								<font color="red">
								<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span></font>
								<input type="text" placeholder="Inserisci Telefono" maxlength="10"
								th:field="*{telefono}" /> 
							</div><br>

							<div>
								<b>Numero massimo allievi: </b> 
								<font color="red">
								<span th:if="${#fields.hasErrors('maxA')}" th:errors="*{maxA}"></span></font>
								<input type="text" placeholder="Inserisci Numero massimo allievi"  th:field="*{maxA}" />
							</div>
							<br> 
							<input type="submit" value="Aggiungi centro" />
						</form>
					</p>
				</div>
			</section>
		</div>
	</div>
	<!-- chisura particles -->

	<!-- Scripts -->
			<script src="assets/js/nodi/particles.min.js"></script>
			<script src="assets/js/nodi/app.js"></script>
			
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		</body>
</html>