<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ricerca Allievo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">
	
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="" class="logo">Modalità: <strong>Responsabile</strong> 
				&nbsp; <img alt="" src="images/responsabile.png"></a>
				<nav id="nav">
					<a th:href="@{pannelloResponsabile}">Pannello di controllo</a>
					<a th:href="@{/ricercaAllievo}">Ricerca allievo</a>
					<a th:href="@{/collegaAttivita}">Iscrivi allievo ad attività</a>
					<a th:href="@{/registraAllievo}">Registra nuovo allievo</a>
					<a th:href="@{/creaAttivita}">Crea nuova attività</a>
					<a th:href="@{/logout}">Logout</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>
		
		<!-- Ricerca allievo -->
		<div id="particles-js">
			<div class="btext">
				<section id="ra" class="wrapper">
					<div class="inner">
						<header class="align-center">
							<h2>Ricerca allievo</h2>
						</header>
					
						<p>
							<font color="red" size="5"><div th:text="${nonEsiste}"></div></font>
							<font color="red" size="5"><div th:text="${campoVuoto}"></div></font><br>
	
							<div>In questa form è possibile inserire l'email di un allievo che si vuole ricercare: </div> <br>
							<form th:action="@{/findAllievo}" method="GET">
								<div><input type="email" name="email" placeholder="Inserisci email dell'allievo" /></div><br>
								<div><input type="submit" value="Ricerca allievo" /><input type="reset" value="Ripristina"/></div>
							</form>
						</p>
					</div>
				</section>
			</div>
		</div> <!-- chisura particles -->

		<!-- Scripts -->
			<script src="assets/js/nodi/particles.min.js"></script>
			<script src="assets/js/nodi/app.js"></script>
			
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>