<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FERS: HOMEPAGE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="" class="logo"><strong>FERS</strong> COMPANY</a>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1><span class="icon fa-connectdevelop"></span><br><br>Benvenuto nel FERS FORMATION SERVICE</h1>
				</header>

				<div class="flex ">

					<div>
						<span class="icon fa-bolt"></span>
						<h3>Velocità</h3>
						<p>Gestisci il tuo centro in un lampo!</p>
					</div>

					<div>
						<span class="icon fa-database"></span>
						<h3>Persistenza</h3>
						<p>Il nostro sistema garantisce un corretto salvataggio dei tuoi dati</p>
					</div>

				</div>

				<footer>
					
						
						<a th:href="@{/login}" class="button alt">Vai alla pagina di Login <span class="icon fa-key"></span></a>
				</footer>
			</div>
		</section>

		<!-- Footer --> 
		<footer id="footer">
			<div class="inner">
				
				<h2><span class="icon fa-info-circle"></span> <font color="white">Chi siamo?</font></h2>
						<font color="white" size="4"> <p align="center"> La <b>FERS COMPANY </b> nasce con l'intenzione di offrire servizi 
						informatici di alto livello per la gestione del proprio centro di 
						formazione. Il nostro compito e privilegio è quello di far 
						si che lo sviluppo personale di ogni singolo allievo possa essere 
						il più pratico, veloce, flessibile e tecnologico possibile. 
						Tramite i nostri servizi, ogni responsabile del vostro centro 
						potrà accedere ad un pannello di controllo ed amministrare in maniera 
						veloce ed intuitiva tutti gli allievi ed attività che hanno a che fare 
						il vostro centro. Grazie alle moderne tecnologie del web, il nostro ecosistema si 
						propone di abbattere i tempi di amministrazione del vostro centro, svolgendo tutto 
						il lavoro in maniera trasparente, efficiente ed intelligente. </p>
						<br><br>
			</div>
		</footer>
		
		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
	
	</body>
</html>